/* estilo.css */

/* Navbar styling */
.navbar-style {
    background-color: rgba(68, 68, 68, 0.747);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px; /* Increased padding for better appearance */
    text-align: center;
  }
  
  /* Navbar brand text styling */
  .navbar-brand {
    color: #b3ecff;
    font-size: 20px;
  }
  
  /* NavDropdown styling */
  .nav-dropdown {
    background-color: rgba(68, 68, 68, 0.747) !important; /* Override Bootstrap's default */
    color: #b3ecff !important;
  }
  
  /* NavDivider styling */
  .nav-divider {
    background-color: #b3ecff !important; /* Override Bootstrap's default */
  }
  
  /* NavLink styling */
  .nav-link {
    color: #b3ecff !important;
  }
  
  /* Active NavLink styling */
  .nav-link.active {
    background-color: rgba(68, 68, 68, 0.747) !important; /* Override Bootstrap's default */
    color: #b3ecff !important;
  }
  
  /* Hover effect for NavLinks (optional) */
  .nav-link:hover {
    background-color: rgba(68, 68, 68, 0.747) !important; /* Override Bootstrap's default */
    color: #fff !important;
  }
  

  /* estilo.css */

/* Body background image and styling */
body {
    background-image: url(./Image/Background/700049.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000; /* Fallback background color */
    color: #b3ecff; /* Default text color */
    font-family: Arial, sans-serif; /* Specify your preferred font-family */
    margin: 0;
    padding: 0;
  }
  
  /* Container styling */
  .container {
    background-color: rgba(68, 68, 68, 0.705);
    border-radius: 10px;
    padding: 20px; /* Adjust padding as needed */
    margin: 5px; /* Adjust margin as needed */
  }
  
  /* Form styling */
  form {
    color: #b3ecff;
  }
  
  /* Form label styling */
  label {
    color: #b3ecff;
  }
  
  /* Form control styling (input fields, buttons, etc.) */
  .form-control {
    background-color: rgba(68, 68, 68, 0.705);
    border: none;
    color: #b3ecff;
  }
  
  /* Button styling */
  .btn {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Button hover effect */
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Navbar styling (if needed) */
  .navbar {
    background-color: rgba(68, 68, 68, 0.747);
    color: #b3ecff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  /* Other custom styles as needed */
  