.login-container {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
  }
  .row{
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
  }
  
  /* Estilize o contêiner do formulário */
  .container.border {
    background-color: #0682BE !important;
    border-radius: 5px rgb(88, 0, 204) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    padding: 20px !important;
  }
  
  /* Estilize a legenda */
  legend {
    color: #b3ecff !important;
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  
  /* Estilize os campos de entrada */
  .form-group {
    margin-bottom: 20px !important;
  }
  
  /* Estilize os rótulos dos campos */
  .form-label {
    font-weight: bold !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
  }
  .button{
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
  }
  /* Estilize os botões */
  button[type="submit"] {
    background-color: #17a2b8 !important;
    color: #fff !important;
    border: none !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
    border-radius:  5px !important;
    cursor: pointer !important;
  }
  
  button[type="submit"]:hover {
    background-color: #128293 !important;
  }
  